{"swagger":"2.0","host":"api.reservoir.tools","basePath":"/","schemes":["https","http"],"security":[{"API_KEY":[]}],"securityDefinitions":{"API_KEY":{"type":"apiKey","name":"x-api-key","in":"header"}},"info":{"title":"Reservoir API","version":"5.81.48","description":"You are viewing the reference docs for the Reservoir API.        For a more complete overview with guides and examples, check out the <a href='https://reservoirprotocol.github.io'>Reservoir Protocol Docs</a>."},"tags":[{"name":"1. Order Book","description":"Read & write from Reservoir's open, aggregated order book"},{"name":"2. Aggregator","description":"Access normalized pricing and sales data, to feed into your own system"},{"name":"3. Router","description":"Simple APIs to create and fill liquidity from any supported exchange protocol"},{"name":"4. NFT API","description":"Build a complete application with rich NFT endpoints"},{"name":"5. Redirects","description":"Redirect APIs for different assets"},{"name":"6. Search","description":"Lightweight search APIs optimized for searching collections/tokens"}],"paths":{"/activity/v1":{"get":{"summary":"Get all activity events","operationId":"getActivityV1","description":"This API can be used to scrape all of the activities","parameters":[{"type":"integer","default":1000,"minimum":1,"maximum":20,"name":"limit","in":"query"},{"type":"number","name":"continuation","in":"query"}],"tags":["7. Activities"],"responses":{"200":{"schema":{"$ref":"#/definitions/getActivityV1Response"},"description":"Successful"}},"x-order":17}},"/attributes/v1":{"get":{"summary":"List of attributes","operationId":"getAttributesV1","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getAttributesV1Response"},"description":"Successful"}},"deprecated":true}},"/collection/v1":{"get":{"summary":"Get detailed information about a single collection","operationId":"getCollectionV1","description":"Get detailed information about a single collection, including real-time stats.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"id","in":"query"},{"type":"string","description":"Filter to a particular slug, e.g. `boredapeyachtclub`","x-convert":{"case":"lower"},"name":"slug","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionV1Response"},"description":"Successful"}},"x-order":11}},"/collection/v2":{"get":{"summary":"Get detailed information about a single collection","operationId":"getCollectionV2","description":"Get detailed information about a single collection, including real-time stats.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"id","in":"query"},{"type":"string","description":"Filter to a particular slug, e.g. `boredapeyachtclub`","x-convert":{"case":"lower"},"name":"slug","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionV2Response"},"description":"Successful"}},"x-order":11}},"/collections/v1":{"get":{"summary":"List of collections","operationId":"getCollectionsV1","description":"Useful for getting multiple collections to show in a marketplace, or search for particular collections.","parameters":[{"type":"string","description":"Filter to a particular community, e.g. `artblocks`","x-convert":{"case":"lower"},"name":"community","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Search for collections that match a string, e.g. `bored`","x-convert":{"case":"lower"},"name":"name","in":"query"},{"type":"string","description":"Filter to a particular slug, e.g. `boredapeyachtclub`","x-convert":{"case":"lower"},"name":"slug","in":"query"},{"type":"string","default":"allTimeVolume","enum":["1DayVolume","allTimeVolume"],"name":"sortBy","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionsV1Response"},"description":"Successful"}},"x-order":11,"deprecated":true}},"/collections/v2":{"get":{"summary":"Get a filtered list of collections","operationId":"getCollectionsV2","description":"Useful for getting multiple collections to show in a marketplace, or search for particular collections.","parameters":[{"type":"string","description":"Filter to a particular community, e.g. `artblocks`","x-convert":{"case":"lower"},"name":"community","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Search for collections that match a string, e.g. `bored`","x-convert":{"case":"lower"},"name":"name","in":"query"},{"type":"string","description":"Filter to a particular slug, e.g. `boredapeyachtclub`","x-convert":{"case":"lower"},"name":"slug","in":"query"},{"type":"string","default":"allTimeVolume","enum":["1DayVolume","7DayVolume","30DayVolume","allTimeVolume"],"name":"sortBy","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionsV2Response"},"description":"Successful"}},"x-order":12}},"/collections/v3":{"get":{"summary":"Get a filtered list of collections","operationId":"getCollectionsV3","description":"Useful for getting multiple collections to show in a marketplace, or search for particular collections.","parameters":[{"type":"string","description":"Filter to a particular community, e.g. `artblocks`","x-convert":{"case":"lower"},"name":"community","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Search for collections that match a string, e.g. `bored`","x-convert":{"case":"lower"},"name":"name","in":"query"},{"type":"string","description":"Filter to a particular slug, e.g. `boredapeyachtclub`","x-convert":{"case":"lower"},"name":"slug","in":"query"},{"type":"string","default":"allTimeVolume","enum":["1DayVolume","7DayVolume","30DayVolume","allTimeVolume"],"name":"sortBy","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionsV3Response"},"description":"Successful"}},"x-order":12}},"/collections/v4":{"get":{"summary":"Get a filtered list of collections","operationId":"getCollectionsV4","description":"Useful for getting multiple collections to show in a marketplace, or search for particular collections.","parameters":[{"type":"string","description":"Filter to a particular collection set","x-convert":{"case":"lower"},"name":"collectionsSetId","in":"query"},{"type":"string","description":"Filter to a particular community, e.g. `artblocks`","x-convert":{"case":"lower"},"name":"community","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Search for collections that match a string, e.g. `bored`","x-convert":{"case":"lower"},"name":"name","in":"query"},{"type":"string","description":"Filter to a particular slug, e.g. `boredapeyachtclub`","x-convert":{"case":"lower"},"name":"slug","in":"query"},{"type":"string","default":"allTimeVolume","enum":["1DayVolume","7DayVolume","30DayVolume","allTimeVolume"],"name":"sortBy","in":"query"},{"type":"boolean","default":false,"name":"includeTopBid","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"},{"type":"string","name":"continuation","in":"query"}],"produces":["application/json"],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionsV4Response"},"description":"Successful"}},"x-order":12}},"/orders/v1":{"get":{"summary":"List of valid orders.","operationId":"getOrdersV1","description":"Access orders with various filters applied. If you need orders created by a single user, use the positions API instead.","parameters":[{"type":"string","name":"id","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getOrdersV1Response"},"description":"Successful"}},"deprecated":true},"post":{"summary":"Publish multiple orders in bulk","operationId":"postOrdersV1","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model145"}}],"tags":["1. Order Book"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}},"x-order":5}},"/orders/v2":{"get":{"summary":"List of valid orders.","operationId":"getOrdersV2","description":"Access orders with various filters applied. If you need orders created by a single user, use the positions API instead.","parameters":[{"type":"string","name":"id","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"}],"tags":["1. Order Book"],"responses":{"200":{"schema":{"$ref":"#/definitions/getOrdersV2Response"},"description":"Successful"}},"deprecated":true}},"/owners/v1":{"get":{"summary":"Get aggregated ownership counts of collections or traits","operationId":"getOwnersV1","description":"Get owners with various filters applied, and a summary of their ownership. Useful for exploring top owners in a collection or attribute.","parameters":[{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+:[0-9]+$|^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"},{"type":"integer","default":0,"minimum":0,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":500,"name":"limit","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getOwnersV1Response"},"description":"Successful"}},"x-order":51}},"/sales/v1":{"get":{"summary":"Historical sales","operationId":"getSalesV1","description":"Get recent sales for a contract or token.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":100,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getSalesV1Response"},"description":"Successful"}},"deprecated":true}},"/sales/v2":{"get":{"summary":"Historical sales","operationId":"getSalesV2","description":"Get recent sales for a contract or token.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":100,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getSalesV2Response"},"description":"Successful"}},"deprecated":true}},"/sales/v3":{"get":{"summary":"Get recent sales for a contract or token","operationId":"getSalesV3","description":"Note: this API is returns rich metadata, and has advanced filters, so is only designed for small amounts of recent sales. If you want access to sales in bulk, use the `Aggregator > Bulk Sales` API.","parameters":[{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"},{"type":"number","description":"Get events after a particular unix timestamp (inclusive)","name":"startTimestamp","in":"query"},{"type":"number","description":"Get events before a particular unix timestamp (inclusive)","name":"endTimestamp","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getSalesV3Response"},"description":"Successful"}},"x-order":52}},"/stats/v1":{"get":{"summary":"Get aggregate stats for a particular set (collection, attribute or single token)","operationId":"getStatsV1","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getStatsV1Response"},"description":"Successful"}},"x-order":53}},"/tokens/v1":{"get":{"summary":"List of tokens","operationId":"getTokensV1","description":"This API is optimized for quickly fetching a list of tokens in a collection, sorted by price, with only the most important information returned. If you need more metadata, use the `tokens/details` API","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"boolean","description":"Limit to tokens that are listed for sale","name":"onSale","in":"query"},{"type":"string","default":"floorAskPrice","enum":["tokenId","floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"string","enum":["asc","desc"],"x-convert":{"case":"lower"},"name":"sortDirection","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensV1Response"},"description":"Successful"}},"deprecated":true}},"/tokens/v2":{"get":{"summary":"List of tokens, with basic details, optimized for speed","operationId":"getTokensV2","description":"This API is optimized for quickly fetching a list of tokens in a collection, sorted by price, with only the most important information returned. If you need more metadata, use the `tokens/details` API","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"},{"type":"string","default":"floorAskPrice","enum":["floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensV2Response"},"description":"Successful"}},"x-order":21}},"/tokens/v3":{"get":{"summary":"List of tokens, with basic details, optimized for speed","operationId":"getTokensV3","description":"This API is optimized for quickly fetching a list of tokens in a collection, sorted by price, with only the most important information returned. If you need more metadata, use the `tokens/details` API","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"array","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","x-alternatives":[{"type":"array","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"tokens"},{"type":"string","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}}],"name":"tokens","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"},{"type":"string","default":"floorAskPrice","enum":["floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensV3Response"},"description":"Successful"}},"x-order":21}},"/tokens/v4":{"get":{"summary":"List of tokens, with basic details, optimized for speed","operationId":"getTokensV4","description":"This API is optimized for quickly fetching a list of tokens in a collection, sorted by price, with only the most important information returned. If you need more metadata, use the `tokens/details` API","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"array","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","x-alternatives":[{"type":"array","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"tokens"},{"type":"string","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}}],"name":"tokens","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"},{"type":"string","name":"source","in":"query"},{"type":"boolean","name":"native","in":"query"},{"type":"string","default":"floorAskPrice","enum":["floorAskPrice","topBidValue","tokenId"],"name":"sortBy","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensV4Response"},"description":"Successful"}},"x-order":21}},"/transfers/v1":{"get":{"summary":"Historical token transfers","operationId":"getTransfersV1","description":"Get recent transfers for a contract or token.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":100,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTransfersV1Response"},"description":"Successful"}},"deprecated":true}},"/transfers/v2":{"get":{"summary":"Historical token transfers","operationId":"getTransfersV2","description":"Get recent transfers for a contract or token.","parameters":[{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"},{"type":"integer","default":20,"minimum":1,"maximum":100,"name":"limit","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTransfersV2Response"},"description":"Successful"}},"x-order":54}},"/collections/daily-volumes/v1":{"get":{"summary":"Get historical volume data for a collection","operationId":"getCollectionsDailyvolumesV1","description":"Get date, volume, rank and sales count for each collection","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"id","in":"query","required":true},{"type":"number","description":"Rows to return","default":60,"name":"limit","in":"query"},{"type":"number","description":"The start timestamp you want to filter on (UTC)","name":"startTimestamp","in":"query"},{"type":"number","description":"The end timestamp you want to filter on (UTC)","name":"endTimestamp","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getDailyVolumesV1Response"},"description":"Successful"}},"x-order":62}},"/collections/{collectionOrSlug}/v1":{"get":{"summary":"Single collection","operationId":"getCollectionsCollectionorslugV1","description":"Get detailed information about a single collection, including real-time stats.","parameters":[{"type":"string","x-convert":{"case":"lower"},"name":"collectionOrSlug","in":"path","required":true}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionDeprecatedV1Response"},"description":"Successful"}},"x-order":12,"deprecated":true}},"/events/orders/v1":{"get":{"summary":"Get updates any time an order status changes","operationId":"getEventsOrdersV1","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"number","description":"Get events after a particular unix timestamp (inclusive)","name":"startTimestamp","in":"query"},{"type":"number","description":"Get events before a particular unix timestamp (inclusive)","name":"endTimestamp","in":"query"},{"type":"string","default":"desc","enum":["asc","desc"],"name":"sortDirection","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":50,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["2. Aggregator"],"responses":{"200":{"schema":{"$ref":"#/definitions/getOrderEventsV1Response"},"description":"Successful"}},"x-order":1}},"/execute/bid/v1":{"get":{"summary":"Create a bid on any token, collection or trait","operationId":"getExecuteBidV1","parameters":[{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","name":"attributeKey","in":"query"},{"type":"string","name":"attributeValue","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"maker","in":"query","required":true},{"type":"string","pattern":"^[0-9]+$","name":"weiPrice","in":"query","required":true},{"type":"string","default":"wyvern-v2.3","enum":["wyvern-v2.3","721ex","zeroex-v4"],"name":"orderKind","in":"query"},{"type":"string","default":"reservoir","enum":["reservoir","opensea"],"name":"orderbook","in":"query"},{"type":"string","pattern":"^0x[a-f0-9]{40}$","x-convert":{"case":"lower"},"name":"source","in":"query"},{"type":"boolean","default":true,"name":"automatedRoyalties","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"fee","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"feeRecipient","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"listingTime","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"expirationTime","in":"query"},{"type":"string","name":"salt","in":"query"},{"type":"string","name":"nonce","in":"query"},{"type":"number","name":"v","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{64}$","x-convert":{"case":"lower"},"name":"r","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{64}$","x-convert":{"case":"lower"},"name":"s","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getExecuteBidV1Response"},"description":"Successful"}},"x-order":2}},"/execute/bid/v2":{"get":{"summary":"Create a bid on any token, collection or trait.","operationId":"getExecuteBidV2","parameters":[{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","name":"attributeKey","in":"query"},{"type":"string","name":"attributeValue","in":"query"},{"type":"number","name":"quantity","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"maker","in":"query","required":true},{"type":"string","pattern":"^[0-9]+$","name":"weiPrice","in":"query","required":true},{"type":"string","default":"wyvern-v2.3","enum":["wyvern-v2.3","721ex","zeroex-v4"],"name":"orderKind","in":"query"},{"type":"string","default":"reservoir","enum":["reservoir","opensea"],"name":"orderbook","in":"query"},{"type":"string","name":"source","in":"query"},{"type":"boolean","default":true,"name":"automatedRoyalties","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"fee","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"feeRecipient","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"listingTime","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"expirationTime","in":"query"},{"type":"string","name":"salt","in":"query"},{"type":"string","name":"nonce","in":"query"},{"type":"number","name":"v","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{64}$","x-convert":{"case":"lower"},"name":"r","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{64}$","x-convert":{"case":"lower"},"name":"s","in":"query"}],"tags":["3. Router"],"responses":{"200":{"schema":{"$ref":"#/definitions/getExecuteBidV1Response"},"description":"Successful"}},"x-order":2}},"/execute/buy/v1":{"get":{"summary":"Buy any token at the best available price","operationId":"getExecuteBuyV1","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"integer","x-constraint":{"sign":"positive"},"name":"quantity","in":"query"},{"type":"array","items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"tokens","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"taker","in":"query","required":true},{"type":"boolean","default":false,"name":"onlyQuote","in":"query"},{"type":"string","default":"0x0000000000000000000000000000000000000000","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"referrer","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"x-constraint":{"sign":"positive"},"name":"referrerFeeBps","in":"query"},{"type":"boolean","default":false,"name":"partial","in":"query"},{"type":"string","pattern":"^[0-9]+$","name":"maxFeePerGas","in":"query"},{"type":"string","pattern":"^[0-9]+$","name":"maxPriorityFeePerGas","in":"query"},{"type":"boolean","default":false,"name":"skipBalanceCheck","in":"query"}],"tags":["3. Router"],"responses":{"200":{"schema":{"$ref":"#/definitions/getExecuteBuyV1Response"},"description":"Successful"}},"x-order":3}},"/execute/buy/v2":{"get":{"summary":"Buy any token at the best available price","operationId":"getExecuteBuyV2","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"integer","x-constraint":{"sign":"positive"},"name":"quantity","in":"query"},{"type":"array","items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"tokens","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"taker","in":"query","required":true},{"type":"boolean","default":false,"name":"onlyQuote","in":"query"},{"type":"string","default":"0x0000000000000000000000000000000000000000","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"referrer","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"x-constraint":{"sign":"positive"},"name":"referrerFeeBps","in":"query"},{"type":"boolean","default":false,"name":"partial","in":"query"},{"type":"string","pattern":"^[0-9]+$","name":"maxFeePerGas","in":"query"},{"type":"string","pattern":"^[0-9]+$","name":"maxPriorityFeePerGas","in":"query"},{"type":"boolean","default":false,"name":"skipBalanceCheck","in":"query"}],"tags":["3. Router"],"responses":{"200":{"schema":{"$ref":"#/definitions/getExecuteBuyV1Response"},"description":"Successful"}},"x-order":3}},"/execute/cancel/v1":{"get":{"summary":"Cancel an existing order","operationId":"getExecuteCancelV1","parameters":[{"type":"string","name":"id","in":"query","required":true},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"maker","in":"query","required":true},{"type":"string","pattern":"^[0-9]+$","name":"maxFeePerGas","in":"query"},{"type":"string","pattern":"^[0-9]+$","name":"maxPriorityFeePerGas","in":"query"}],"tags":["3. Router"],"responses":{"200":{"schema":{"$ref":"#/definitions/getExecuteCancelV1Response"},"description":"Successful"}},"x-order":5}},"/execute/list/v1":{"get":{"summary":"List a token for sale","operationId":"getExecuteListV1","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query","required":true},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"maker","in":"query","required":true},{"type":"string","pattern":"^[0-9]+$","name":"weiPrice","in":"query","required":true},{"type":"string","default":"wyvern-v2.3","enum":["721ex","looks-rare","wyvern-v2.3","zeroex-v4"],"name":"orderKind","in":"query"},{"type":"string","default":"reservoir","enum":["opensea","reservoir"],"name":"orderbook","in":"query"},{"type":"string","pattern":"^0x[a-f0-9]{40}$","x-convert":{"case":"lower"},"name":"source","in":"query"},{"type":"boolean","default":true,"name":"automatedRoyalties","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"fee","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"feeRecipient","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"listingTime","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"expirationTime","in":"query"},{"type":"string","name":"salt","in":"query"},{"type":"string","name":"nonce","in":"query"},{"type":"number","name":"v","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{64}$","x-convert":{"case":"lower"},"name":"r","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{64}$","x-convert":{"case":"lower"},"name":"s","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getExecuteBidV1Response"},"description":"Successful"}},"x-order":1}},"/execute/list/v2":{"get":{"summary":"List a token for sale.","operationId":"getExecuteListV2","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query","required":true},{"type":"number","name":"quantity","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"maker","in":"query","required":true},{"type":"string","pattern":"^[0-9]+$","name":"weiPrice","in":"query","required":true},{"type":"string","default":"wyvern-v2.3","enum":["721ex","looks-rare","wyvern-v2.3","zeroex-v4"],"name":"orderKind","in":"query"},{"type":"string","default":"reservoir","enum":["opensea","looks-rare","reservoir"],"name":"orderbook","in":"query"},{"type":"string","name":"source","in":"query"},{"type":"boolean","default":true,"name":"automatedRoyalties","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"},{"type":"array","items":{"type":"string"},"collectionFormat":"multi","name":"fee"},{"type":"array","items":{"type":"number"},"collectionFormat":"multi","name":"fee"}],"name":"fee","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"x-alternatives":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"}},{"type":"array","items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"feeRecipient"}],"name":"feeRecipient","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"listingTime","in":"query"},{"type":"string","x-alternatives":[{"type":"string"},{"type":"number"}],"name":"expirationTime","in":"query"},{"type":"string","name":"salt","in":"query"},{"type":"string","name":"nonce","in":"query"},{"type":"number","name":"v","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{64}$","x-convert":{"case":"lower"},"name":"r","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{64}$","x-convert":{"case":"lower"},"name":"s","in":"query"}],"tags":["3. Router"],"responses":{"200":{"schema":{"$ref":"#/definitions/getExecuteBidV1Response"},"description":"Successful"}},"x-order":1}},"/execute/sell/v1":{"get":{"summary":"Sell any token at the best available price (accept bid)","operationId":"getExecuteSellV1","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query","required":true},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"taker","in":"query","required":true},{"type":"string","default":"0x0000000000000000000000000000000000000000","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"referrer","in":"query"},{"type":"boolean","default":false,"name":"onlyQuote","in":"query"},{"type":"string","pattern":"^[0-9]+$","name":"maxFeePerGas","in":"query"},{"type":"string","pattern":"^[0-9]+$","name":"maxPriorityFeePerGas","in":"query"}],"tags":["3. Router"],"responses":{"200":{"schema":{"$ref":"#/definitions/getExecuteSellV1Response"},"description":"Successful"}},"x-order":4}},"/execute/sell/v2":{"get":{"summary":"Sell any token at the best available price (accept bid)","operationId":"getExecuteSellV2","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query","required":true},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"taker","in":"query","required":true},{"type":"string","default":"0x0000000000000000000000000000000000000000","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"referrer","in":"query"},{"type":"boolean","default":false,"name":"onlyQuote","in":"query"},{"type":"string","pattern":"^[0-9]+$","name":"maxFeePerGas","in":"query"},{"type":"string","pattern":"^[0-9]+$","name":"maxPriorityFeePerGas","in":"query"}],"tags":["3. Router"],"responses":{"200":{"schema":{"$ref":"#/definitions/getExecuteSellV1Response"},"description":"Successful"}},"x-order":4}},"/liquidity/users/v1":{"get":{"summary":"User liquidity rankings","operationId":"getLiquidityUsersV1","description":"This API calculates the total liquidity created by users, based on the number of tokens they are top bidder for.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"user","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getUsersLiquidityV1Response"},"description":"Successful"}},"x-order":55}},"/orders/all/v1":{"get":{"summary":"Bulk access to raw orders","operationId":"getOrdersAllV1","description":"This API is designed for efficiently ingesting large volumes of orders, for external processing","parameters":[{"type":"string","name":"id","in":"query"},{"type":"string","name":"source","in":"query"},{"type":"boolean","name":"native","in":"query"},{"type":"string","default":"sell","enum":["sell","buy"],"name":"side","in":"query"},{"type":"boolean","default":false,"name":"includeMetadata","in":"query"},{"type":"boolean","default":false,"name":"includeRawData","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":50,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["1. Order Book"],"responses":{"200":{"schema":{"$ref":"#/definitions/getOrdersAllV1Response"},"description":"Successful"}},"x-order":1}},"/orders/asks/v1":{"get":{"summary":"Get a list of asks (listings), filtered by token, collection or maker","operationId":"getOrdersAsksV1","description":"This API is designed for efficiently ingesting large volumes of orders, for external processing","parameters":[{"type":"string","description":"Filter to a token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:\\d+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular user, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"maker","in":"query"},{"type":"string","description":"Filter to a particular user, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"`active` = currently valid, `inactive` = temporarily invalid, `expired` = permanently invalid\n\nAvailable when filtering by maker, otherwise only valid orders will be returned","enum":["active","inactive","expired"],"name":"status","in":"query"},{"type":"string","enum":["price","createdAt"],"name":"sortBy","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":50,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getOrdersAsksV1Response"},"description":"Successful"}},"x-order":41}},"/orders/asks/v2":{"get":{"summary":"Get a list of asks (listings), filtered by token, collection or maker","operationId":"getOrdersAsksV2","description":"This API is designed for efficiently ingesting large volumes of orders, for external processing","parameters":[{"type":"string","description":"Filter to a token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:\\d+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular user, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"maker","in":"query"},{"type":"array","description":"Filter to one or more contracts, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"}},"collectionFormat":"multi","x-alternatives":[{"type":"array","description":"Filter to one or more contracts, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"contracts"},{"type":"string","description":"Filter to one or more tokens, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"}}],"name":"contracts","in":"query"},{"type":"string","description":"`active` = currently valid, `inactive` = temporarily invalid, `expired` = permanently invalid\n\nAvailable when filtering by maker, otherwise only valid orders will be returned","enum":["active","inactive","expired"],"name":"status","in":"query"},{"type":"string","enum":["price","createdAt"],"name":"sortBy","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":50,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getOrdersAsksV1Response"},"description":"Successful"}},"x-order":41}},"/orders/bids/v1":{"get":{"summary":"Get a list of bids (offers), filtered by token, collection or maker","operationId":"getOrdersBidsV1","description":"This API is designed for efficiently ingesting large volumes of orders, for external processing","parameters":[{"type":"string","description":"Filter to a token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:\\d+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"string","description":"Filter to a particular user, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"maker","in":"query"},{"type":"string","description":"`active` = currently valid, `inactive` = temporarily invalid, `expired` = permanently invalid\n\nAvailable when filtering by maker, otherwise only valid orders will be returned","enum":["active","inactive","expired"],"name":"status","in":"query"},{"type":"string","enum":["price","createdAt"],"name":"sortBy","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":50,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getOrdersBidsV1Response"},"description":"Successful"}},"x-order":42}},"/orders/bids/v2":{"get":{"summary":"Get a list of bids (offers), filtered by token, collection or maker","operationId":"getOrdersBidsV2","description":"This API is designed for efficiently ingesting large volumes of orders, for external processing","parameters":[{"type":"string","description":"Filter to a token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:\\d+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"string","description":"Filter to a particular user, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"maker","in":"query"},{"type":"array","description":"Filter to one or more contracts, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"}},"collectionFormat":"multi","x-alternatives":[{"type":"array","description":"Filter to one or more contracts, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"contracts"},{"type":"string","description":"Filter to one or more tokens, e.g. `0x4d04eb67a2d1e01c71fad0366e0c200207a75487`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"}}],"name":"contracts","in":"query"},{"type":"string","description":"`active` = currently valid, `inactive` = temporarily invalid, `expired` = permanently invalid\n\nAvailable when filtering by maker, otherwise only valid orders will be returned","enum":["active","inactive","expired"],"name":"status","in":"query"},{"type":"string","enum":["price","createdAt"],"name":"sortBy","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":50,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getOrdersBidsV1Response"},"description":"Successful"}},"x-order":42}},"/orders/executed/v1":{"get":{"summary":"Check if an order is filled/canceled","operationId":"getOrdersExecutedV1","parameters":[{"type":"string","name":"id","in":"query","required":true},{"type":"boolean","default":false,"name":"checkRecentEvents","in":"query"}],"tags":["3. Router"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}},"x-order":6}},"/redirect/logo/v1":{"get":{"summary":"Redirect response to the given source logo","operationId":"getRedirectLogoV1","parameters":[{"type":"string","name":"source","in":"query","required":true}],"tags":["x-deprecated"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}},"x-order":53}},"/redirect/token/v1":{"get":{"summary":"Redirect response to the given source token page","operationId":"getRedirectTokenV1","parameters":[{"type":"string","name":"source","in":"query","required":true},{"type":"string","description":"Redirect to the given token page, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query","required":true}],"tags":["x-deprecated"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}},"x-order":53}},"/sales/bulk/v1":{"get":{"summary":"Get bulk access to historical sales","operationId":"getSalesBulkV1","description":"Note: this API is optimized for bulk access, and offers minimal filters/metadata. If you need more flexibility, try the `NFT API > Sales` endpoint","parameters":[{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"number","description":"Get events after a particular unix timestamp (inclusive)","name":"startTimestamp","in":"query"},{"type":"number","description":"Get events before a particular unix timestamp (inclusive)","name":"endTimestamp","in":"query"},{"type":"integer","default":100,"minimum":1,"maximum":1000,"name":"limit","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"}],"tags":["2. Aggregator"],"responses":{"200":{"schema":{"$ref":"#/definitions/getSalesBulkV1Response"},"description":"Successful"}},"x-order":52}},"/search/collections/v1":{"get":{"summary":"Search for collections by given name","operationId":"getSearchCollectionsV1","parameters":[{"type":"string","description":"Lightweight search for collections that match a string, e.g. `bored`","x-convert":{"case":"lower"},"name":"name","in":"query"},{"type":"string","description":"Filter to a particular community, e.g. `artblocks`","x-convert":{"case":"lower"},"name":"community","in":"query"},{"type":"string","description":"Filter to a particular collection set","x-convert":{"case":"lower"},"name":"collectionsSetId","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"}],"tags":["6. Search"],"responses":{"200":{"schema":{"$ref":"#/definitions/getSearchCollectionsV1Response"},"description":"Successful"}},"x-order":53}},"/tokens/bootstrap/v1":{"get":{"summary":"Get the current best price of every on sale token in a collection","operationId":"getTokensBootstrapV1","description":"This API will return the best price of every token in a collection that is currently on sale","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":500,"minimum":1,"maximum":500,"name":"limit","in":"query"}],"tags":["2. Aggregator"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensBootstrapV1Response"},"description":"Successful"}},"x-order":2}},"/tokens/details/v1":{"get":{"summary":"Tokens with metadata","operationId":"getTokensDetailsV1","description":"Get a list of tokens with full metadata. This is useful for showing a single token page, or scenarios that require more metadata. If you don't need this metadata, you should use the <a href='#/tokens/getTokensV1'>tokens</a> API, which is much faster.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"boolean","description":"Limit to tokens that are listed for sale","name":"onSale","in":"query"},{"type":"string","default":"floorAskPrice","enum":["tokenId","floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"string","enum":["asc","desc"],"x-convert":{"case":"lower"},"name":"sortDirection","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensDetailsV1Response"},"description":"Successful"}},"deprecated":true}},"/tokens/details/v2":{"get":{"summary":"Get one or more tokens with full details","operationId":"getTokensDetailsV2","description":"Get a list of tokens with full metadata. This is useful for showing a single token page, or scenarios that require more metadata. If you don't need this metadata, you should use the <a href='#/tokens/getTokensV1'>tokens</a> API, which is much faster.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"},{"type":"string","description":"Filter to a particular source, e.g. `0x5b3256965e7c3cf26e11fcaf296dfc8807c01073`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"source","in":"query"},{"type":"string","default":"floorAskPrice","enum":["floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensDetailsV2Response"},"description":"Successful"}},"x-order":22}},"/tokens/details/v3":{"get":{"summary":"Get one or more tokens with full details","operationId":"getTokensDetailsV3","description":"Get a list of tokens with full metadata. This is useful for showing a single token page, or scenarios that require more metadata. If you don't need this metadata, you should use the <a href='#/tokens/getTokensV1'>tokens</a> API, which is much faster.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"array","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","x-alternatives":[{"type":"array","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"tokens"},{"type":"string","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}}],"name":"tokens","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"},{"type":"string","description":"Filter to a particular source, e.g. `0x5b3256965e7c3cf26e11fcaf296dfc8807c01073`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"source","in":"query"},{"type":"string","default":"floorAskPrice","enum":["floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensDetailsV3Response"},"description":"Successful"}},"x-order":22}},"/tokens/details/v4":{"get":{"summary":"Get one or more tokens with full details","operationId":"getTokensDetailsV4","description":"Get a list of tokens with full metadata. This is useful for showing a single token page, or scenarios that require more metadata. If you don't need this metadata, you should use the <a href='#/tokens/getTokensV1'>tokens</a> API, which is much faster.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"array","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","x-alternatives":[{"type":"array","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","maxItems":50,"items":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"tokens"},{"type":"string","description":"Filter to one or more tokens, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"}}],"name":"tokens","in":"query"},{"type":"string","description":"Filter to a particular set, e.g. `contract:0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"tokenSetId","in":"query"},{"type":"string","description":"Filter to a particular attribute, e.g. `attributes[Type]=Original`","name":"attributes","in":"query","x-type":"object"},{"type":"string","name":"source","in":"query"},{"type":"string","default":"floorAskPrice","enum":["floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":50,"name":"limit","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensDetailsV4Response"},"description":"Successful"}},"x-order":22}},"/tokens/floor/v1":{"get":{"summary":"Get the current best price of every on sale token in a collection","operationId":"getTokensFloorV1","description":"This API will return the best price of every token in a collection that is currently on sale","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"}],"tags":["2. Aggregator"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensFloorV1Response"},"description":"Successful"}},"x-order":2}},"/collections/{collection}/activity/v1":{"get":{"summary":"Get activity events for the given collection","operationId":"getCollectionsCollectionActivityV1","description":"This API can be used to build a feed for a collection","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"},{"type":"number","name":"continuation","in":"query"},{"type":"array","items":{"type":"string","enum":["sale","ask","transfer","mint","bid","bid_cancel","ask_cancel"],"x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"types","in":"query"}],"tags":["7. Activities"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionActivityV1Response"},"description":"Successful"}},"x-order":17}},"/collections/{collection}/attributes/v1":{"get":{"summary":"Get detailed aggregate about attributes in a collection, e.g. trait floors","operationId":"getCollectionsCollectionAttributesV1","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true},{"type":"string","name":"attributeKey","in":"query"},{"type":"string","default":"floorAskPrice","enum":["floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":200,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionAttributesV1Response"},"description":"Successful"}},"deprecated":true}},"/collections/{collection}/top-bids/v1":{"get":{"summary":"Top bids for all tokens in a collection","operationId":"getCollectionsCollectionTopbidsV1","description":"When users are placing collection or trait bids, this API can be used to show them where the bid is in the context of other bids, and how many tokens it will be the top bid for.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionTopBidsV1Response"},"description":"Successful"}},"x-order":16}},"/collections/{collection}/owners-distribution/v1":{"get":{"summary":"Owners distribution for all tokens in a collection","operationId":"getCollectionsCollectionOwnersdistributionV1","description":"This API can be used to show what the distribution of owners in a collection looks like.","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionOwnersDistributionV1Response"},"description":"Successful"}},"x-order":17}},"/events/collections/floor-ask/v1":{"get":{"summary":"Get updates any time the floor price of a collection changes","operationId":"getEventsCollectionsFlooraskV1","description":"Every time the floor price of a collection changes (i.e. the 'floor ask'), an event is generated. This API is designed to be polled at high frequency, in order to keep an external system in sync with accurate prices for any token.\n\nThere are multiple event types, which describe what caused the change in price:\n\n- `new-order` > new listing at a lower price\n\n- `expiry` > the previous best listing expired\n\n- `sale` > the previous best listing was filled\n\n- `cancel` > the previous best listing was cancelled\n\n- `balance-change` > the best listing was invalidated due to no longer owning the NFT\n\n- `approval-change` > the best listing was invalidated due to revoked approval\n\n- `revalidation` > manual revalidation of orders (e.g. after a bug fixed) \n\n- `bootstrap` > initial loading of data, so that all tokens have a price associated\n\nSome considerations to keep in mind\n\n- Due to the complex nature of monitoring off-chain liquidity across multiple marketplaces, including dealing with block re-orgs, events should be considered 'relative' to the perspective of the indexer, ie _when they were discovered_, rather than _when they happened_. A more deterministic historical record of price changes is in development, but in the meantime, this method is sufficent for keeping an external system in sync with the best available prices.\n\n- Events are only generated if the best price changes. So if a new order or sale happens without changing the best price, no event is generated. This is more common with 1155 tokens, which have multiple owners and more depth. For this reason, if you need sales data, use the Sales API.","parameters":[{"type":"string","name":"collection","in":"query"},{"type":"number","description":"Get events after a particular unix timestamp (inclusive)","name":"startTimestamp","in":"query"},{"type":"number","description":"Get events before a particular unix timestamp (inclusive)","name":"endTimestamp","in":"query"},{"type":"string","default":"desc","enum":["asc","desc"],"name":"sortDirection","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":50,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["2. Aggregator"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionsFloorAskV1Response"},"description":"Successful"}},"x-order":1}},"/events/tokens/floor-ask/v1":{"get":{"summary":"Get updates any time the best price of a token changes","operationId":"getEventsTokensFlooraskV1","description":"Every time the best price of a token changes (i.e. the 'floor ask'), an event is generated. This API is designed to be polled at high frequency, in order to keep an external system in sync with accurate prices for any token.\n\nThere are multiple event types, which describe what caused the change in price:\n\n- `new-order` > new listing at a lower price\n\n- `expiry` > the previous best listing expired\n\n- `sale` > the previous best listing was filled\n\n- `cancel` > the previous best listing was cancelled\n\n- `balance-change` > the best listing was invalidated due to no longer owning the NFT\n\n- `approval-change` > the best listing was invalidated due to revoked approval\n\n- `revalidation` > manual revalidation of orders (e.g. after a bug fixed) \n\n- `bootstrap` > initial loading of data, so that all tokens have a price associated\n\nSome considerations to keep in mind\n\n- Due to the complex nature of monitoring off-chain liquidity across multiple marketplaces, including dealing with block re-orgs, events should be considered 'relative' to the perspective of the indexer, ie _when they were discovered_, rather than _when they happened_. A more deterministic historical record of price changes is in development, but in the meantime, this method is sufficent for keeping an external system in sync with the best available prices.\n\n- Events are only generated if the best price changes. So if a new order or sale happens without changing the best price, no event is generated. This is more common with 1155 tokens, which have multiple owners and more depth. For this reason, if you need sales data, use the Sales API.","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"number","description":"Get events after a particular unix timestamp (inclusive)","name":"startTimestamp","in":"query"},{"type":"number","description":"Get events before a particular unix timestamp (inclusive)","name":"endTimestamp","in":"query"},{"type":"string","default":"desc","enum":["asc","desc"],"name":"sortDirection","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":50,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["2. Aggregator"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensFloorAskV1Response"},"description":"Successful"}},"x-order":1,"deprecated":true}},"/events/tokens/floor-ask/v2":{"get":{"summary":"Get updates any time the best price of a token changes","operationId":"getEventsTokensFlooraskV2","description":"Every time the best price of a token changes (i.e. the 'floor ask'), an event is generated. This API is designed to be polled at high frequency, in order to keep an external system in sync with accurate prices for any token.\n\nThere are multiple event types, which describe what caused the change in price:\n\n- `new-order` > new listing at a lower price\n\n- `expiry` > the previous best listing expired\n\n- `sale` > the previous best listing was filled\n\n- `cancel` > the previous best listing was cancelled\n\n- `balance-change` > the best listing was invalidated due to no longer owning the NFT\n\n- `approval-change` > the best listing was invalidated due to revoked approval\n\n- `revalidation` > manual revalidation of orders (e.g. after a bug fixed) \n\n- `bootstrap` > initial loading of data, so that all tokens have a price associated\n\nSome considerations to keep in mind\n\n- Due to the complex nature of monitoring off-chain liquidity across multiple marketplaces, including dealing with block re-orgs, events should be considered 'relative' to the perspective of the indexer, ie _when they were discovered_, rather than _when they happened_. A more deterministic historical record of price changes is in development, but in the meantime, this method is sufficent for keeping an external system in sync with the best available prices.\n\n- Events are only generated if the best price changes. So if a new order or sale happens without changing the best price, no event is generated. This is more common with 1155 tokens, which have multiple owners and more depth. For this reason, if you need sales data, use the Sales API.","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"query"},{"type":"number","description":"Get events after a particular unix timestamp (inclusive)","name":"startTimestamp","in":"query"},{"type":"number","description":"Get events before a particular unix timestamp (inclusive)","name":"endTimestamp","in":"query"},{"type":"string","default":"desc","enum":["asc","desc"],"name":"sortDirection","in":"query"},{"type":"string","pattern":"^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$","name":"continuation","in":"query"},{"type":"integer","default":50,"minimum":1,"maximum":1000,"name":"limit","in":"query"}],"tags":["2. Aggregator"],"responses":{"200":{"schema":{"$ref":"#/definitions/getTokensFloorAskV2Response"},"description":"Successful"}},"x-order":1}},"/tokens/{token}/activity/v1":{"get":{"summary":"Get activity events for the given token","operationId":"getTokensTokenActivityV1","description":"This API can be used to build a feed for a token","parameters":[{"type":"string","description":"Filter to a particular token, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"path","required":true},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"},{"type":"number","name":"continuation","in":"query"},{"type":"array","items":{"type":"string","enum":["sale","ask","transfer","mint","bid","bid_cancel","ask_cancel"],"x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"types","in":"query"}],"tags":["7. Activities"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionActivityV1Response"},"description":"Successful"}},"x-order":17}},"/users/{user}/activity/v1":{"get":{"summary":"Get activity events for the given user","operationId":"getUsersUserActivityV1","description":"This API can be used to build a feed for a user","parameters":[{"type":"string","description":"Filter to a particular user, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"user","in":"path","required":true},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"},{"type":"number","name":"continuation","in":"query"},{"type":"array","items":{"type":"string","enum":["sale","ask","transfer","mint","bid","bid_cancel","ask_cancel"],"x-convert":{"case":"lower"}},"collectionFormat":"multi","name":"types","in":"query"}],"tags":["7. Activities"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionActivityV1Response"},"description":"Successful"}},"x-order":17}},"/users/{user}/tokens/v1":{"get":{"summary":"User tokens","operationId":"getUsersUserTokensV1","description":"Get tokens held by a user, along with ownership information such as associated orders and date acquired.","parameters":[{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"user","in":"path","required":true},{"type":"string","description":"Filter to a particular community, e.g. `artblocks`","x-convert":{"case":"lower"},"name":"community","in":"query"},{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"boolean","name":"hasOffer","in":"query"},{"type":"string","enum":["topBuyValue"],"name":"sortBy","in":"query"},{"type":"string","enum":["asc","desc"],"x-convert":{"case":"lower"},"name":"sortDirection","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getUserTokensV1Response"},"description":"Successful"}},"deprecated":true}},"/users/{user}/positions/v1":{"get":{"summary":"Get a summary of a users bids and asks","operationId":"getUsersUserPositionsV1","description":"Get aggregate user liquidity, grouped by collection. Useful for showing a summary of liquidity being provided (orders made).","parameters":[{"type":"string","description":"Wallet to see results for e.g. `0xf296178d553c8ec21a2fbd2c5dda8ca9ac905a00`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"user","in":"path","required":true},{"type":"string","enum":["buy","sell"],"x-convert":{"case":"lower"},"name":"side","in":"query","required":true},{"type":"string","enum":["valid","invalid"],"x-convert":{"case":"lower"},"name":"status","in":"query","required":true},{"type":"integer","default":0,"minimum":0,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":100,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getUserPositionsV1Response"},"description":"Successful"}},"deprecated":true}},"/users/{user}/collections/v1":{"get":{"summary":"Get aggregate stats for a user, grouped by collection","operationId":"getUsersUserCollectionsV1","description":"Get aggregate stats for a user, grouped by collection. Useful for showing total portfolio information.","parameters":[{"type":"string","description":"Wallet to see results for e.g. `0xf296178d553c8ec21a2fbd2c5dda8ca9ac905a00`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"user","in":"path","required":true},{"type":"string","description":"Filter to a particular community, e.g. `artblocks`","x-convert":{"case":"lower"},"name":"community","in":"query"},{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":100,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getUserCollectionsV1Response"},"description":"Successful"}},"x-order":31}},"/users/{user}/collections/v2":{"get":{"summary":"Get aggregate stats for a user, grouped by collection","operationId":"getUsersUserCollectionsV2","description":"Get aggregate stats for a user, grouped by collection. Useful for showing total portfolio information.","parameters":[{"type":"string","description":"Wallet to see results for e.g. `0xf296178d553c8ec21a2fbd2c5dda8ca9ac905a00`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"user","in":"path","required":true},{"type":"string","description":"Filter to a particular community, e.g. `artblocks`","x-convert":{"case":"lower"},"name":"community","in":"query"},{"type":"string","description":"Filter to a particular collection set","x-convert":{"case":"lower"},"name":"collectionsSetId","in":"query"},{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"boolean","default":false,"name":"includeTopBid","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":100,"name":"limit","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getUserCollectionsV2Response"},"description":"Successful"}},"x-order":32}},"/users/{user}/tokens/v2":{"get":{"summary":"Get tokens held by a user, along with ownership information","operationId":"getUsersUserTokensV2","description":"Get tokens held by a user, along with ownership information such as associated orders and date acquired.","parameters":[{"type":"string","description":"Wallet to see results for e.g. `0xf296178d553c8ec21a2fbd2c5dda8ca9ac905a00`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"user","in":"path","required":true},{"type":"string","description":"Filter to a particular community, e.g. `artblocks`","x-convert":{"case":"lower"},"name":"community","in":"query"},{"type":"string","description":"Filter to a particular collection set","x-convert":{"case":"lower"},"name":"collectionsSetId","in":"query"},{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"query"},{"type":"string","description":"Filter to a particular contract, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"contract","in":"query"},{"type":"string","enum":["acquiredAt"],"name":"sortBy","in":"query"},{"type":"string","default":"desc","enum":["asc","desc"],"x-convert":{"case":"lower"},"name":"sortDirection","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":20,"name":"limit","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getUserTokensV2Response"},"description":"Successful"}},"x-order":32}},"/collections/{collection}/attributes/explore/v1":{"get":{"summary":"Get detailed aggregate about attributes in a collection, e.g. trait floors","operationId":"getCollectionsCollectionAttributesExploreV1","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true},{"type":"string","description":"Filter to a particular attribute key, e.g. `Composition`","name":"attributeKey","in":"query"},{"type":"string","default":"floorAskPrice","enum":["floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":5000,"name":"limit","in":"query"}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionAttributesV1Response"},"description":"Successful"}},"x-order":15}},"/collections/{collection}/attributes/static/v1":{"get":{"summary":"Get all attributes in a collection, including tokens ids","operationId":"getCollectionsCollectionAttributesStaticV1","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getAttributesStaticV1Response"},"description":"Successful"}},"x-order":14}},"/collections/{collection}/attributes/all/v1":{"get":{"summary":"Get all attributes in a collection","operationId":"getCollectionsCollectionAttributesAllV1","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true}],"tags":["x-deprecated"],"responses":{"200":{"schema":{"$ref":"#/definitions/getAttributesV1Response"},"description":"Successful"}},"x-order":13}},"/collections/{collection}/attributes/all/v2":{"get":{"summary":"Get all attributes in a collection","operationId":"getCollectionsCollectionAttributesAllV2","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getAttributesAllV2Response"},"description":"Successful"}},"x-order":13}},"/collections/{collection}/attributes/explore/v2":{"get":{"summary":"Get detailed aggregate about attributes in a collection, e.g. trait floors","operationId":"getCollectionsCollectionAttributesExploreV2","parameters":[{"type":"string","description":"Filter to a particular collection, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true},{"type":"string","description":"Filter to a particular attribute key, e.g. `Composition`","name":"attributeKey","in":"query"},{"type":"integer","description":"Max floor prices to return","default":1,"minimum":1,"maximum":20,"name":"maxFloorAskPrices","in":"query"},{"type":"string","default":"floorAskPrice","enum":["floorAskPrice","topBidValue"],"name":"sortBy","in":"query"},{"type":"integer","default":0,"minimum":0,"maximum":10000,"name":"offset","in":"query"},{"type":"integer","default":20,"minimum":1,"maximum":5000,"name":"limit","in":"query"}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/getAttributesExploreV2Response"},"description":"Successful"}},"x-order":15}},"/oracle/collections/{collection}/floor-ask/v1":{"get":{"summary":"Get a signed message of any collection's floor price (spot or twap)","operationId":"getOracleCollectionsCollectionFlooraskV1","parameters":[{"type":"string","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true},{"type":"string","name":"contractName","in":"query","required":true},{"type":"integer","x-constraint":{"sign":"positive"},"name":"contractVersion","in":"query","required":true},{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"verifyingContract","in":"query","required":true},{"type":"number","default":1,"name":"chainId","in":"query"},{"type":"string","default":"spot","enum":["spot","twap","lower","upper"],"name":"kind","in":"query"}],"tags":["oracle"],"responses":{"200":{"schema":{"$ref":"#/definitions/getCollectionFloorAskOracleV1Response"},"description":"Successful"}},"x-order":1}},"/redirect/collections/{collection}/image/v1":{"get":{"summary":"Redirect response to the given collection image","operationId":"getRedirectCollectionsCollectionImageV1","parameters":[{"type":"string","description":"Redirect to the given collection image, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63`","pattern":"^0x[a-fA-F0-9]{40}$","x-convert":{"case":"lower"},"name":"collection","in":"path","required":true}],"tags":["5. Redirects"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}},"x-order":53}},"/redirect/sources/{source}/logo/v2":{"get":{"summary":"Redirect response to the given source logo","operationId":"getRedirectSourcesSourceLogoV2","parameters":[{"type":"string","name":"source","in":"path","required":true}],"tags":["5. Redirects"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}},"x-order":53}},"/redirect/tokens/{token}/image/v1":{"get":{"summary":"Redirect response to the given token image","operationId":"getRedirectTokensTokenImageV1","parameters":[{"type":"string","description":"Redirect to the given token image, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"path","required":true}],"tags":["5. Redirects"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}},"x-order":53}},"/redirect/sources/{source}/tokens/{token}/link/v2":{"get":{"summary":"Redirect response to the given source token page","operationId":"getRedirectSourcesSourceTokensTokenLinkV2","parameters":[{"type":"string","name":"source","in":"path","required":true},{"type":"string","description":"Redirect to the given token page, e.g. `0x8d04a8c79ceb0889bdd12acdf3fa9d207ed3ff63:123`","pattern":"^0x[a-fA-F0-9]{40}:[0-9]+$","x-convert":{"case":"lower"},"name":"token","in":"path","required":true}],"tags":["5. Redirects"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}},"x-order":53}},"/api-keys":{"post":{"summary":"Instantly create a new API key","operationId":"postApikeys","description":"The optional API key can be used in every route, by setting it as a request header **x-api-key**.\n\n<a href='https://reservoirprotocol.github.io/docs/api/hosted-api'>Learn more</a> about API Keys and Rate Limiting","parameters":[{"type":"string","description":"The name of your app","name":"appName","in":"formData","required":true},{"type":"string","description":"An e-mail address where you can be reached, in case of issues, to avoid service disruption","x-format":{"email":true},"name":"email","in":"formData","required":true},{"type":"string","description":"The website of your project","x-format":{"uri":true},"name":"website","in":"formData","required":true}],"consumes":["application/x-www-form-urlencoded"],"tags":["0. Auth"],"responses":{"200":{"schema":{"$ref":"#/definitions/getNewApiKeyResponse"},"description":"Successful"}}}},"/admin/fix-blocks":{"post":{"summary":"Trigger fixing any orphaned block.","operationId":"postAdminFixblocks","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model125"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/fix-cache":{"post":{"summary":"Trigger fixing any cache inconsistencies for array of contracts.","operationId":"postAdminFixcache","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model126"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/fix-orders":{"post":{"summary":"Trigger fixing any order inconsistencies.","operationId":"postAdminFixorders","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model127"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/fix-token-cache":{"post":{"summary":"Trigger fixing any cache inconsistencies for specific token.","operationId":"postAdminFixtokencache","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model128"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/index-metadata":{"post":{"summary":"Trigger metadata indexing for collection.","operationId":"postAdminIndexmetadata","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model129"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/invalidate-order":{"post":{"summary":"Invalidate an existing order.","operationId":"postAdminInvalidateorder","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model130"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/resync-floor-events":{"post":{"summary":"Trigger fixing any floor events inconsistencies for any particular collection.","operationId":"postAdminResyncfloorevents","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model131"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/set-community":{"post":{"summary":"Set a community for a specific collection","operationId":"postAdminSetcommunity","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model132"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/simulate-floor":{"post":{"summary":"Simulate the floor ask of any token for guaranteed fillability coverage","operationId":"postAdminSimulatefloor","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model133"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/sync-arweave":{"post":{"summary":"Trigger syncing of Arweave data.","operationId":"postAdminSyncarweave","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model134"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/sync-daily-volumes":{"post":{"summary":"Trigger a re-sync of daily volume calculations, volumes should only be calculated when fill_events have been fully synced","operationId":"postAdminSyncdailyvolumes","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model135"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/admin/sync-events":{"post":{"summary":"Trigger syncing of events.","operationId":"postAdminSyncevents","parameters":[{"type":"string","name":"x-admin-api-key","in":"header","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model136"}}],"tags":["x-admin"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/collections-sets/v1":{"post":{"summary":"Public API for anyone to trigger the creation of a new collections set","operationId":"postCollectionssetsV1","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model138"}}],"tags":["4. NFT API"],"responses":{"200":{"schema":{"$ref":"#/definitions/postCreateCollectionsSetV1Re
[...]
